:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin:auto;
  max-width:1024px;
  padding:10px;
  min-width: 240px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.container {
  width: 100%;
  max-width: 700px; /* Максимальная ширина для больших экранов */
  margin: 0 auto; Центрирование контейнера
  padding: 20px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center */
}

/* Стили для InputForm */
.cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputForm {
  display: grid;
  gap: 10px;
}

.inputDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Разрешить перенос метки и инпута на следующую строку на малых экранах */
}

.input {
  margin-left: 5px;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Респонсивные стили */
@media (max-width: 480px) {
  .inputDiv {
    flex-direction: column; /* Вертикально располагаем метку и инпут на очень малых экранах */
    align-items: flex-start;
  }

  .input {
    width: 100%; /* Полная ширина инпутов на очень малых экранах */
    margin-left: 0;
  }

  button {
    width: 100%; /* Полная ширина кнопки на очень малых экранах */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .inputForm {
    grid-template-columns: 1fr; /* Одна колонка на небольших экранах */
  }

  .input {
    width: calc(100% - 80px); /* Оставить место для метки на небольших экранах */
  }
}

@media (min-width: 365px) and (max-width: 481px) {
  
}

@media (min-width: 768px) {
  .inputForm {
    grid-template-columns: repeat(2, 1fr); /* Две колонки на средних экранах */
  }

  .input {
    width: 100%; /* Полная ширина инпутов на средних экранах */
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 40px; /* Дополнительные отступы для больших экранов */
  }

  .inputForm {
    grid-template-columns: repeat(2, 1fr); /* Две колонки на больших экранах */
  }

  .input {
    width: calc(100% - 80px); /* Оставить место для метки на больших экранах */
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; /* Максимальная ширина для очень больших экранов */
  }
}

/* Стили для Results */
.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resultItem {
  margin-bottom: 20px;
}

.resultItem h3 {
  margin: 0;
}

hr {
  margin: 20px 0;
}

.graphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


